
  <div class="row">
    <div class="col-3">
      <div class="card">
      	<div class="card-header">
				Profile
			</div>	
		  <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/commons/1/12/User_icon_2.svg" alt="Card image cap" style="width: 175px;">
		  <div class="card-body">
		    <h5 class="card-title">Card title</h5>
		    <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
		  </div>
		  <ul class="list-group list-group-flush">
		    <li class="list-group-item">Cras justo odio</li>
		    <li class="list-group-item">Dapibus ac facilisis in</li>
		    <li class="list-group-item">Vestibulum at eros</li>
		  </ul>
		  <div class="card-body">
		  	<div class="row">
			  
			  	<div class="col-6">
			    	<div class="card" style="">
					  <img class="card-img-top" src="https://www.boostmobile.com/content/dam/boostmobile/en/products/phones/iphone-6-16gb-pre-owned/space-gray/iphone6_SpaceGray_front@3x.png.transform/pdpCarousel/image.jpg" alt="Card image cap"  style="width: 100px;">
					  <div class="card-body">
					    <h5 class="card-title">iPhone 6</h5>
					    <p class="card-text">Some quick example.</p>
					  </div>
					</div>
				</div>

			  	<div class="col-6">
			    	<div class="card" style="">
					  <img class="card-img-top" src="https://cdn2.gsmarena.com/vv/bigpic/samsung-galaxy-s6.jpg" alt="Card image cap"  style="width: 100px;">
					  <div class="card-body">
					    <h5 class="card-title">Samsung S6</h5>
					    <p class="card-text">Some quick example</p>
					  </div>
					</div>
				</div>
			</div>	
		  </div>
		</div>
    </div>
    <div class="col-6">
		<div class="card">
			<div class="card-header">
				Feed
			</div>	
			<div class="card-body">
				<!--Feed Cards-->
				<div class="card" style="">
					<div class="row">
						<div class="col-2"></div>
						<div class="embed-responsive embed-responsive-16by9 col-8 text-center">
							<iframe width="300" height="200" src="https://www.youtube.com/embed/MXperoxt89E" frameborder="0" allow="; encrypted-media" align="center" allowfullscreen>
							</iframe>
						</div>
						<div class="col-2"></div>
					</div>
					
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>


				<div class="card" style="">
					<div class="row">
						<div class="col-2"></div>
						<div class="embed-responsive embed-responsive-16by9 col-8 text-center">
							<iframe width="300" height="200" src="https://www.youtube.com/embed/MXperoxt89E" frameborder="0" allow="; encrypted-media" align="center" allowfullscreen>
							</iframe>
						</div>
						<div class="col-2"></div>
					</div>
					
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>

				<div class="card" style="">
					<div class="row">
						<div class="col-2"></div>
						<div class="embed-responsive embed-responsive-16by9 col-8 text-center">
							<iframe width="300" height="200" src="https://www.youtube.com/embed/MXperoxt89E" frameborder="0" allow="; encrypted-media" align="center" allowfullscreen>
							</iframe>
						</div>
						<div class="col-2"></div>
					</div>
					
					<div class="card-body">
						<h5 class="card-title">Card title</h5>
						<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
					</div>
				</div>
				<!--/Feed Cards-->
			</div>
		</div>
    </div>
    <div class="col-3">
    	<div class="card">
    		<div class="card-header">
				Courses
			</div>	
			<div class="card-body">
				<!--Courses Cards-->
				<div class="card">
				  <div class="card-header">
				    Featured
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Special title treatment</h5>
				    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
				    
				    <div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 25%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>

				  </div>
				</div>

				<div class="card">
				  <div class="card-header">
				    Featured
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Special title treatment</h5>
				    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
				    
				    <div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 50%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					
				  </div>
				</div>

				<div class="card">
				  <div class="card-header">
				    Featured
				  </div>
				  <div class="card-body">
				    <h5 class="card-title">Special title treatment</h5>
				    <!--<p class="card-text">With supporting text below as a natural lead-in to additional content.</p>-->
				    
				    <div class="progress">
					  <div class="progress-bar" role="progressbar" style="width: 75%" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					
				  </div>
				</div>
				<!--/Courses Cards-->
			</div>
		</div>
    </div>
  </div>
